<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
    <script type="text/javascript" src="../index.js"></script>

</head>

<body>
    <h1>GradJob</h1>

    <a href="/jobs" class="home">home</a>

    <form>
        Position
        <input type="text" name="position"><br>
        Company name
        <input type="text" name="companyName"><br>
        Categories
        <input type="text" name="categories"><br>
        Job description
        <textarea name="jobDescription" rows="10" cols="30">
                The cat was playing in the garden.
        </textarea>
        Apply URL
        <input type="text" name="URL"><br>
    </form>

    </table>
    <script type="module" src="../index.js"></script>
    <script type="module" src="../util/regex.js"></script>

</body>

</html>