<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Post A Job</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../public/imgs/gradJobsIcon.png">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <!-- MDL -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <script type="text/javascript" src="../index.js"></script>

</head>

<body>
  <h1><a href="/" class="home" style="color:#44C7B0">GradJobs🎓</a></h1>
  <!--
        form uses post method to send data to the server
        action is where it posts feedback 
    -->
  <form class="jobSubmitForm" action="/finishCheckout/" method="post">
    <label for="title">Title</label>
    <input class="searchTerm formInput" type="text" name="title" id="title"><br>
    <label for="url">URL</label>
    <input class="searchTerm formInput" type="text" name="url" id="url"><br>
    <label for="categories">Categories</label>
    <input class="searchTerm formInput" type="text" name="categories" id="category"><br>

  

    <input id="checkout-button-sku_FAq0aurWH7krHS"
      style="background-color:#44C7B0;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em" role="link"
      type="submit" value="Post your job - £89">

  </form>


  <div id="error-message"></div>

  <script type="text/javascript" src="/postJob.js"></script>
  <script type="module" src="../index.js"></script>

</body>

</html>
